<div id="chooser">
    <div id="dialog">
        <div class="head"> Substitute <%= driver3.name %> with:</div>
        <div class="bod">
           <div class="option"><input type="radio" value="<%= driver2.driverId %>"><%= driver2.name %></div>
            <div class="option"><input type="radio" value="<%= driver1.driverId %>"><%= driver1.name %></div>
        <button id="cancel">Cancel</button>
        <button id="change">Change</button>
            
        </div>
    </div>
</div>