<div id="chooser">
    <div id="dialog">
        <div class="head"> Substitute <%= driver3.name %> for:</div>
        <div class="bod">
           <div class="option"><input type="radio" id="radio1" name="driver" value="<%= driver2.driverId %>" class="radio"  checked = "checked"><label for="radio1"><%= driver2.name %></label></div>
            <div class="option"><input type="radio" id="radio2"  name="driver" value="<%= driver1.driverId %>" class="radio"><label for="radio2"><%= driver1.name %></label></div>
        <button id="cancel">Cancel</button>
        <button id="change">Change</button>
            
        </div>
    </div>
</div>